body {
  margin: 0;
}

.main-container,
.quiz-container {
  overflow: scroll;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100vw;
}

.quiz-container {
  flex-direction: column;
  /* padding: 24px 0px; */
}

.quiz-container span {
  padding: 2rem;
  margin-top: 1.5rem;
}
.main-container {
  height: 100vh;
}

.container {
  position: absolute;
}
.start-button,
.submit-button {
  background-color: #6375CE;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  color: white;
}

.submit-button {
  margin-bottom: 50px;
}

.green-blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.grey-blob {
  position: fixed;
  bottom: 0;
  z-index: -1;
  left: 0;
}

.trivia-answer {
  display: inline-block;
  font-size: .8rem;
  margin: 16px;
  background-color: #FFFFFF;
  padding: 14px 20px;
  border-radius: 15px;
  border: #ddd3ee 1px solid;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.selected-answer {
  background-color: #ddd3ee;
  border: none;
}

.answer-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#correct-answer {
  background-color: rgb(153, 225, 153);
}

.false-answer {
  background-color: rgb(240, 161, 161);
}
